<div class="album text-muted">
  <div class="alert alert-warning">
  <%= source_helper("application") %>
    <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>