<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>With over a decade of development experience in a number of industries I realized that the typical product r.</p>

        <p>For this reason I decided to utilize a completely different development pattern that focuses on highly focused communication and transparent design patterns. .</p>
      </div>
    </div>
  </div>
</div>